<div class="container-fluid text-center">
  <div *ngFor="let colArray of chunkedCardsArray" class="row beer-row">
    <div *ngFor="let card of colArray" class="col beer-col">
      <app-beer-card
        [card]="card"
        [isShowRating]="isShowRating"
        (showCardDetails)="onShowCardDetails($event)"
        (toggleFavoriteCard)="onToggleFavoriteCard($event)"
        (rateCard)="onRateCard($event)"></app-beer-card>
    </div>
  </div>
  <ngb-pagination
    [(page)]="paginatorCurrentPage"
    [pageSize]="paginatorPageSize"
    [collectionSize]="paginatorCollectionSize"
    (pageChange)="onPagingChange($event)">
  </ngb-pagination>
</div>
