.beer-card-details{
  width: 760px;
  .beer-details-img {
    width: 100%;
    height: 400px;
    padding: 20px;
    object-fit: contain;
  }
  .beer-details-body {
    .beer-details-title {

    }

    .beer-details-text {
      font-size: 18px;
    }
  }
}






